In [20]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from collections import Counter
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_absolute_error,mean_squared_error
from sklearn.ensemble import RandomForestRegressor
from xgboost import XGBRegressor
from sklearn.preprocessing import OneHotEncoder

In [21]:
data = pd.read_csv('Used_Bikes.csv')
data.head()

                              bike_name     price  ...  power          brand
0    TVS Star City Plus Dual Tone 110cc   35000.0  ...  110.0            TVS
1           Royal Enfield Classic 350cc  119900.0  ...  350.0  Royal Enfield
2                  Triumph Daytona 675R  600000.0  ...  675.0        Triumph
3                  TVS Apache RTR 180cc   65000.0  ...  180.0            TVS
4  Yamaha FZ S V 2.0 150cc-Ltd. Edition   80000.0  ...  150.0         Yamaha

[5 rows x 8 columns]

In [22]:
y = data['price']
X = data.drop(['price'],axis = 1)

In [23]:
# datanew = pd.get_dummies(data = data,drop_first = True)

OHE = OneHotEncoder()
OHE.fit(X)
X = OHE.transform(X)

In [24]:
X

<32648x4751 sparse matrix of type '<class 'numpy.float64'>'
	with 228536 stored elements in Compressed Sparse Row format>

In [25]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=42)

In [26]:
tree = DecisionTreeRegressor()
tree.fit(X_train,y_train)

DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=None,
                      max_features=None, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, presort='deprecated',
                      random_state=None, splitter='best')

In [27]:
print('mean_squared_error   : ',mean_squared_error(y_test,tree.predict(X_test)))
print('mean_absolute_error  : ',mean_absolute_error(y_test,tree.predict(X_test)))

mean_squared_error   :  1215246730.555764
mean_absolute_error  :  3602.86010719755

In [30]:
forest = RandomForestRegressor(n_estimators=300,min_samples_split=2)
forest.fit(X_train,y_train)

print('mean_squared_error   : ',mean_squared_error(y_test,forest.predict(X_test)))
print('mean_absolute_error  : ',mean_absolute_error(y_test,forest.predict(X_test)))

mean_squared_error   :  1097543956.0105019
mean_absolute_error  :  3666.5116461296097

In [31]:
def MAPE(X,y):
  mape = []
  for i,j in zip(y,X):
    mape.append(abs((i-j)/i))

  return (sum(mape)/len(mape))*100

print('DT mape : ',MAPE(tree.predict(X_test),y_test))
print('RF mape : ',MAPE(forest.predict(X_test),y_test))

DT mape :  3.604840500909618
RF mape :  3.5660950605824153